# ========================================
# CONFIGURACIÓN DEL PROVEEDOR DE MAPAS
# ========================================

# Valores permitidos:
# openstreet
# mapbox

VITE_MAP_PROVIDER=openstreet
# Dummy change to trigger CI

# ========================================
# CONFIGURACIÓN DE LA API DEL BACKEND
# ========================================
# Para desarrollo local tradicional con el backend corriendo localmente:
# VITE_API_BASE_URL=http://localhost:8080/api
#
# Para cuando despliegues el frontend en Vercel y uses localtunnel:
VITE_API_BASE_URL=https://bright-singers-invent.loca.lt/api  #URL DE EJEMPLO
