# ========================================
# CONFIGURACIÓN DEL PROVEEDOR DE MAPAS
# ========================================

# Valores permitidos:
# openstreet
# mapbox

VITE_MAP_PROVIDER=openstreet
# Dummy change to trigger CI

# ========================================
# CONFIGURACIÓN DE LA API DEL BACKEND
# ========================================
VITE_API_BASE_URL=http://localhost:8080/api
