# ========================================
# CONFIGURACIÓN DEL PROVEEDOR DE MAPAS
# ========================================

# Valores permitidos:
# openstreet
# mapbox

VITE_MAP_PROVIDER=openstreet
# Dummy change to trigger CI
